.body {
  width: 100%;
  height: 100vh;
  background-color: #ededed;
  overflow-y: hidden;
}

.white-text {
  color: #f5f5f5 !important;
}

.logo {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}

#main-content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

#inner-content-wrapper {
  margin: 0;
  padding: 1em;
  padding-bottom: 5em;
}

/* ---------------------------------------------------------*/
/*                       Navigation                         */
/* ---------------------------------------------------------*/ 
.navbar{
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-right {
  margin-right: 0;
}

.link, .link:hover {
  font-family: 'Open Sans', sans-serif;  
  color: #f5f5f5;
  text-decoration: none !important;
  text-align: center;
}

/* ---------------------------------------------------------*/
/*                     Color Settings                       */
/* ---------------------------------------------------------*/ 
.active{
  color: #f5f5f5 !important;
}

.navbar-default {
  background-color: #347598;
  border-color: #126796;
}

/* ---------------------------------------------------------*/
/*                     Content Subpages                     */
/* ---------------------------------------------------------*/ 
.main-naslov {
  margin: 0;
  padding: 1em 0;
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.podnaslov {
  margin: 0;
  padding: 0.5em 0;
  text-align: left;
  color: black;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px){
  .content{
    padding-right: 30px;
  }
}