.list-group-item:nth-child(even) {
	background-color: #ededed;
}

.list-group-item:hover {
	background-color: rgba(129, 193, 239, 0.4) !important;
}

.list-group-item-heading {
	padding: .5em 10px;
}

.list-group-item-text {
	padding: .5em 10px;
}