.navbar-default {
  background-color: #347598;
  border-color: #126796;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fdfdfd;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fdfdfd;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fdfdfd;
  background-color: #126796;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fdfdfd;
  background-color: #126796;
}
.navbar-default .navbar-toggle {
  border-color: #126796;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #126796;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #fdfdfd;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fdfdfd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fdfdfd;
    background-color: #126796;
  }

  .main-naslov{
    margin-top: 15px;
  }


}

@media(min-width: 768px){
  .navbar{
    border-radius: 0px;
    margin-bottom: 0px;
  }
}

.sve{
  height: 100%;
  margin-right: 0px;
}


.link{
  /*background-color: #5b92ea;*/
  background-color: #347598;
  color: white;
}

.active{
  color: white;
  background-color: #126796;
}

.active:hover{
  color: green;
}

.nav-stacked>li+li{
  margin-top: 0px;
}

.nav-pills>li>a{
  border-radius: 0px;
}


.navbar a{
  font-family: 'Roboto', sans-serif;  
}

.link{
  font-family: 'Open Sans', sans-serif;  
}

.main-naslov{
  color: #444444;
  font-family: 'Roboto', sans-serif;  
  margin-left: 10px;
}

.sadrzaj{
  background-color: white;
  height: calc(100vh - 52px);
  overflow-y: auto;
}

.sve{
  background-color: #6387a8;
}

.sidebar{
  padding-right: 0px;
}