.profil-form-group{
	margin-top: 7px;
	margin-bottom: 7px;

	padding-top: 7px;
	padding-bottom: 7px;
}

.profil-naslov{
	padding-bottom: 0.8em;
}

.error-row{
	color: red;
	padding-left: 10px;
}

.status-profil-error{
	color: red;
}

.status-profil-uspjeh{
	color: green;
}

.control-label{
	text-align: left!important;
	color: #293b70;
}

.separator{
	width:35%;
	margin-right: 65%;
	border-color: #73A2A6!important;
}

.btn-pass{
	float: right;
	margin-right: 0px;
	
}
.row-pass{
	height: 100px!important;
}
.icon-pass{
	top:-75px!important;
	position: relative!important;
}